@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  background: #0b0b0b;
}

/* for nicer text rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* for smooth scroll for nav links */
html {
  scroll-behavior: smooth;
}
